@tailwind components;
@tailwind utilities;

:root {
  --page-header-height: 48px;
  // 标题栏左右侧间距
  --page-header-padding: 32px;
  // 底部大小
  --page-footer-height: 36px;
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.2s ease;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}